<nav class="navbar navbar-dark" id="mainHeader">
    <span class="navbar-brand mb-0 h1" id="mainDreamstream">dreamstream</span>
    <h4>welcome <i>{{user.username}}</i><br>
    <a href="/new-dream" type="button" class="btn btn-light">post a dream</a>
    <a href="/logout" type="button" class="btn btn-dark">wake up</a>
    </h4>
</nav>
{{!-- 
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="display-4">dreamstream</h1>
      <a class="navbar-brand" href="/logout">
        wake up
      </a>
    </div>
  </div>
</nav> --}}