<nav class="navbar navbar-dark bg-dark" id="mainHeader">
  <span class="navbar-brand mb-0 h1">dreamstream</span>
  <div>Welcome {{user.username}}<br>
          <a class="navbar-brand" href="/logout">
        wake up
      </a>

  </div>
</nav>
{{!-- 
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="display-4">dreamstream</h1>
      <a class="navbar-brand" href="/logout">
        wake up
      </a>
    </div>
  </div>
</nav> --}}