{{> header}}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Welcome {{user.username}} </h2>
    <a href="/new-dream" type="button" class="btn btn-primary">post a dream</a>
  </div>
  <div class="col">Dream posts will live here</div>
</div>