body {
    background-image: url(../assets/dreamscape.jpg);
    background-color: rgba(22, 57, 97, 0.767);
    background-size: cover;
    color: whitesmoke;
}

.landingForm {
    margin-top: 50px;
}

.landingHeader {
    margin-top: 10px;
    text-align: right;
}
