body {
  background-image: url(../assets/stars.jpg);
  background-size: contain;
  font-family: 'Josefin Sans', sans-serif;
}

#mainHeader {
  color: white;
  background-image: linear-gradient(0.25turn, rgb(3, 3, 49), #201c5e);
  border-radius: 5px;
  text-shadow: darkgray 1px 1px;
}

#mainContent {
  margin: 10px;
}

#mainDreamstream {
  font-size: 20px;
}