body {
  /* background-image: url(../assets/stars.jpg);
  background-size: contain; */
  background-image: linear-gradient(
  rgba(233, 251, 255, 0.712), 
  rgb(255, 255, 255));
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
}

#mainHeader {
  color: rgb(218, 237, 248);
  background-image: linear-gradient(0.25turn,
  rgb(9, 44, 73), 
  rgb(20, 103, 151));
  border-radius: 5px;
  /* text-shadow: rgb(56, 60, 66) 1px 1px; */
}

#mainContent {
  margin: 10px;
}

#mainDreamstream {
  font-size: 30px;
}